<mat-card>
    <mat-card-title>Excluir Bibliotecario</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
                [value]="bibliotecario.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Empresa" 
                [value]="bibliotecario.bibliotecas" name="bibliotecas" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" 
                [value]="bibliotecario.status" name="status" disabled>
        </mat-form-field>
    </form>


<button mat-raised-button (click)="deleteBibliotecario()" color="primary" >
    Excluir
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
</mat-card>