<mat-card>
    <mat-card-title>Novo Bibliotecario</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
                [(ngModel)]="bibliotecario.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de cadastro" 
                [value]="bibliotecario.dataCriacao" name="dataCriacao" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" 
                [(ngModel)]="bibliotecario.status" name="status">
        </mat-form-field>
    </form>


<button mat-raised-button (click)="updateBibliotecario()" color="primary" >
    Atualizar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
</mat-card>